<html>
{%include 'navbar.html'%}
{% block content%}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 26%;
        justify-content:center;
        margin:50px auto;
      }
      
      td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
</style>
<h1 style="text-align:center">Welcome to the Dashboard</h1>
<div style="text-align:center; background-color:LightGrey; margin:45px auto; border:5px solid black; max-width:500px; padding:20px;">
    <form method="POST" action="" atuocomplete="off">
        {%csrf_token%}
        <b><label>Name:</label><b>
        <input type="text" name="name" placeholder="Enter your Name"><br><br>
        <b><label>Email:</label><b>
        <input type="text" name="email" placeholder="Enter your E-mail"><br><br>
        <b><label>Phone:</label><b>
        <input type="text" name="phone" placeholder="Enter your Phone"><br><br>
        <input type="submit" value="ADD">
        {%if messages%}
        <ul class="messages">
            {%for message in messages%}
            {{message}}
            {%endfor%}
        </ul>
        {%endif%}
    </form>
</div>
<table>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th style="text-align:center" colspan="2">Options</th>
    </tr>
        {%for i in r_data%}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.s_name}}</td>
      <td>{{i.s_email}}</td>
      <td>{{i.s_phone}}</td>
      <td><button onclick="location.href='{%url 'up_student' pk=i.id %}'">Update</button></td>
      <td><button onclick="location.href='{%url 'del_student' pk=i.id %}'">Delete</button></td>
      {%endfor%}
    </tr>
</table>
{%endblock content%}
</html>